<%= form_for(@gef_search) do |f| %>
  <% if @gef_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gef_search.errors.count, "error") %> prohibited this gef_search_two from being saved:</h2>

      <ul>
      <% @gef_search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :gef_pmis_id, 'GEF ID' %><br />
    <%= f.text_field :gef_pmis_id %>
  </div>
  <div class="field">
    <%= f.label :gef_country_id, 'Country' %><br />
    <%= f.collection_select :gef_country_id, Gef::Country.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :gef_region_id, 'Region' %><br />
    <%= f.collection_select :gef_region_id, Gef::Region.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :primary_biome_id, 'Primary Biome' %><br />
    <%= f.collection_select :primary_biome_id, Gef::PameRecord.select('gef_biomes.*').joins(:primary_biome).order('gef_biomes.name').uniq, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :wdpa_name, 'WDPA Name' %><br />
    <%= f.collection_select :wdpa_name, Gef::WdpaRecord.select(:wdpa_name).order(:wdpa_name).uniq, :wdpa_name, :wdpa_name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :wdpa_id, 'WDPA ID' %><br />
    <%= f.text_field :wdpa_id %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
