<table class="turnover-table">
  <thead>
    <th></th>
    <th></th>
    <th> by 2025 </th>
    <th> by 2055 </th>
  </thead>
  <tbody>
    <tr></tr>
    <tr>
      <td>Amphibian</td>
      <td></td>
      <td><%= render "turnover_cell" %></td>
      <td><%= render "turnover_cell" %></td>
    </tr>
    <tr>
      <td>Bird</td>
      <td></td>
      <td><%= render "turnover_cell" %></td>
      <td><%= render "turnover_cell" %></td>
    </tr>
    <tr>
      <td>Mammal</td>
      <td></td>
      <td><%= render "turnover_cell" %></td>
      <td><%= render "turnover_cell" %></td>
    </tr>
  </tbody>
</table>
