<section>
  <a href="<%= protected_planet_path(:protected_area)[@protected_area.wdpa_id] %>">
    < Return to Official Record for <strong><%= @protected_area.name %></strong>
  </a>
</section>

<section>
  <h1> Climate change vulnerability assessments </h1>
  <div class="line"></div>

  <%= render "protected_area_info" %>
</section>

<section class="tva-sdm">
  <%= render "tva_percentage" %>
  <%= render "sdm_percentage" %>
</section>
