<section>
  <a href="<%= protected_planet_path(:protected_area)[@protected_area.wdpa_id] %>">
    < Return to Official Record for <strong><%= @protected_area.name %></strong>
  </a>
</section>

<section>
  <h1> Climate change vulnerability assessments </h1>
  <div class="line"></div>

  <%= render "protected_area_info" %>
</section>

<section class="tva-sdm">
  <%= render "tva_percentage" %>
  <%= render "sdm_percentage" %>
</section>

<section class="vulnerable-species">
  <h2>Vulnerable <%= select_tag "class_id", options_for_select([["Amphibian",6], ["Bird",7], ["Mammal",9]]) %> species</h2>
  <%= render "vulnerable_species_table" %>
</section>
