<section>
  <a href="<%= protected_planet_path(:protected_area)[@protected_area.wdpa_id] %>">
    < Return to Official Record for <strong><%= @protected_area.name %></strong>
  </a>
</section>

<section>
  <h1> Climate change vulnerability assessments </h1>
  <div class="line"></div>

  <%= render "protected_area_info" %>
</section>

<section class="tva-sdm">
  <%= render "tva_percentage" %>
  <%= render "sdm_percentage" %>
</section>

<section class="vulnerable-species">
  <h2>Vulnerable <%= taxonomic_classes_options %> species</h2><br>
  <%= render "vulnerable_species_table" %>
</section>

<section class="suitability">
  <h2>Expected changes in climate suitability for <%= taxonomic_classes_options %></h2><br>
  <%= render "suitability_table" %>
</section>

<section class="download">
  <%= render "download_data" %>
</section>
