<main class="protected-areas">

  <div class="container">
    <h1><img src="/images/gef_logo.png" /> Protected Area Database</h1>
  </div>

  <div class="col-xs-9">
    <h2>GEF ID #<%= @gef_area[:gef_pmis_id] %></h2>
  </div>

  <div class="col-xs-6">
    <table class="table-condensed">
      <tr>
        <th>WDPA ID</td>
        <th>WDPA Name</td>
        <th>METT Page</td>
      </tr>
      <% @protected_areas.each do |pa| %>
        <tr>
          <td><%= pa[:wdpa_id] %></td>
          <td>
            <% if pa[:wdpa_name] == 'Not Available in WDPA' %>
              <%= pa[:name] %>
            <% else %>
              <%= link_to  pa[:wdpa_name], pa[:protected_planet_url] %>
            <% end %>
          </td>
          <td class="text-center"><%= link_to 'Link', pame_records_path(pa[:gef_pmis_id], pa[:wdpa_id]) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</main>
