<main class="protected-areas">

  <div class="container">
    <h1><img src="/images/gef_logo.png" /> Protected Planet Tool</h1>
  </div>

  <div class="col-xs-9">
    <h2>
      <%= @protected_area[:wdpa_id] %>
      -
      <%= @protected_area[:wdpa_data][:name] %>
    </h2>
  </div>
  <div class="col-xs-6">
    <table class="table">
      <% @protected_area.each do |parameter,value| %>
        <% if parameter != :wdpa_data %>
          <tr>
            <td colspan="3"><%= parameter %></td>
            <td><%= value %></td>
          </tr>
        <% else %>
          <tr>
            <td rowspan="15"><%= parameter %></td>
            <% value.each do |k,v| %>
              <% if k != :countries %>
                <td colspan="2"><%= k %></td>
                <td><%= v %></td>
              <% else %>
                <td rowspan="4"><%= k %></td>
                <% v[0].each do |country,name| %>
                  <tr>
                    <td><%= country %></td>
                    <td><%= name %></td>
                  </tr>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
</main>
