<main class="protected-areas">

  <div class="container">
    <h1><img src="/images/gef_logo.png" /> Protected Area Database</h1>
  </div>

  <div class="col-xs-9">
    <h2> <%= @assessment.first.name %>
    <h3>
      WDPA ID #<%= @assessment.first.gef_wdpa_record.wdpa_id %> - Assessment <%= @assessment.first.mett_original_uid %>
  </div>
  <div class="col-xs-6">
    <table class="table">
      <% @assessment.first.attributes.except("wdpa_id", "gef_pame_name_id", "gef_area_id", "id", "name").each do |parameter,value| %>
          <tr>
            <td colspan="3"><%=t parameter %></td>
            <td class="text-center"><%= value %></td>
          </tr>
      <% end %>
    </table>
  </div>
</main>
